<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg3_layer_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,480}</string>
                <key>spriteSourceSize</key>
                <string>{960,480}</string>
                <key>textureRect</key>
                <string>{{2,2},{960,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg3_layer_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{640,358}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{966,2},{640,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg3_layer_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-101}</string>
                <key>spriteSize</key>
                <string>{566,278}</string>
                <key>spriteSourceSize</key>
                <string>{640,480}</string>
                <key>textureRect</key>
                <string>{{1610,2},{566,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg3.png</string>
            <key>size</key>
            <string>{2178,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:204f29ae42f2421d738ac821e0d7a96b:90be26c09c65d15c40d5a6ff6d89a1c4:757654dcae0f698b73d50641fc25461f$</string>
            <key>textureFileName</key>
            <string>bg3.png</string>
        </dict>
    </dict>
</plist>
