<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1_layer_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,240}</string>
                <key>spriteSourceSize</key>
                <string>{480,240}</string>
                <key>textureRect</key>
                <string>{{2,2},{480,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg1_layer_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{486,2},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg1_layer_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-50}</string>
                <key>spriteSize</key>
                <string>{284,140}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{810,2},{284,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg1.png</string>
            <key>size</key>
            <string>{1096,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd80f1aa30c808b26fa0361992241db1:243616b6257ac16d78b57af4f3806829:70319541bf704eecb607f621abda401a$</string>
            <key>textureFileName</key>
            <string>bg1.png</string>
        </dict>
    </dict>
</plist>
