<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>attacker/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{11,8}</string>
    <key>spriteSourceSize</key>
    <string>{11,8}</string>
    <key>textureRect</key>
    <string>{{23,91},{11,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>attacker/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{11,8}</string>
    <key>spriteSourceSize</key>
    <string>{11,8}</string>
    <key>textureRect</key>
    <string>{{23,91},{11,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>block/block1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,10}</string>
    <key>spriteSourceSize</key>
    <string>{10,10}</string>
    <key>textureRect</key>
    <string>{{70,2},{10,10}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>block/block2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string>{14,14}</string>
    <key>textureRect</key>
    <string>{{38,2},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exit/idle1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,32}</string>
    <key>textureRect</key>
    <string>{{20,2},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exit/idle2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,32}</string>
    <key>spriteSourceSize</key>
    <string>{16,32}</string>
    <key>textureRect</key>
    <string>{{2,2},{16,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,10}</string>
    <key>spriteSourceSize</key>
    <string>{16,10}</string>
    <key>textureRect</key>
    <string>{{23,48},{16,10}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,10}</string>
    <key>spriteSourceSize</key>
    <string>{16,10}</string>
    <key>textureRect</key>
    <string>{{23,48},{16,10}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,10}</string>
    <key>spriteSourceSize</key>
    <string>{16,10}</string>
    <key>textureRect</key>
    <string>{{2,51},{16,10}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,10}</string>
    <key>spriteSourceSize</key>
    <string>{16,10}</string>
    <key>textureRect</key>
    <string>{{23,36},{16,10}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,10}</string>
    <key>spriteSourceSize</key>
    <string>{16,10}</string>
    <key>textureRect</key>
    <string>{{2,51},{16,10}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,10}</string>
    <key>spriteSourceSize</key>
    <string>{16,10}</string>
    <key>textureRect</key>
    <string>{{23,36},{16,10}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/attack.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{11,8}</string>
    <key>spriteSourceSize</key>
    <string>{11,8}</string>
    <key>textureRect</key>
    <string>{{23,91},{11,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{8,11}</string>
    <key>spriteSourceSize</key>
    <string>{8,11}</string>
    <key>textureRect</key>
    <string>{{82,2},{8,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{8,11}</string>
    <key>spriteSourceSize</key>
    <string>{8,11}</string>
    <key>textureRect</key>
    <string>{{82,2},{8,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/jump.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,11}</string>
    <key>spriteSourceSize</key>
    <string>{14,11}</string>
    <key>textureRect</key>
    <string>{{54,2},{14,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{8,11}</string>
    <key>spriteSourceSize</key>
    <string>{8,11}</string>
    <key>textureRect</key>
    <string>{{92,2},{8,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{8,11}</string>
    <key>spriteSourceSize</key>
    <string>{8,11}</string>
    <key>textureRect</key>
    <string>{{100,64},{8,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{8,11}</string>
    <key>spriteSourceSize</key>
    <string>{8,11}</string>
    <key>textureRect</key>
    <string>{{92,2},{8,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{8,11}</string>
    <key>spriteSourceSize</key>
    <string>{8,11}</string>
    <key>textureRect</key>
    <string>{{100,64},{8,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,13}</string>
    <key>spriteSourceSize</key>
    <string>{10,13}</string>
    <key>textureRect</key>
    <string>{{87,31},{10,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,13}</string>
    <key>spriteSourceSize</key>
    <string>{10,13}</string>
    <key>textureRect</key>
    <string>{{80,15},{10,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,13}</string>
    <key>spriteSourceSize</key>
    <string>{10,13}</string>
    <key>textureRect</key>
    <string>{{54,61},{10,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{14,13}</string>
    <key>spriteSourceSize</key>
    <string>{14,13}</string>
    <key>textureRect</key>
    <string>{{38,18},{14,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,13}</string>
    <key>spriteSourceSize</key>
    <string>{10,13}</string>
    <key>textureRect</key>
    <string>{{23,76},{10,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,13}</string>
    <key>spriteSourceSize</key>
    <string>{10,13}</string>
    <key>textureRect</key>
    <string>{{41,68},{10,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,13}</string>
    <key>spriteSourceSize</key>
    <string>{10,13}</string>
    <key>textureRect</key>
    <string>{{67,49},{10,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,13}</string>
    <key>spriteSourceSize</key>
    <string>{10,13}</string>
    <key>textureRect</key>
    <string>{{41,68},{10,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{11,14}</string>
    <key>spriteSourceSize</key>
    <string>{11,14}</string>
    <key>textureRect</key>
    <string>{{67,15},{11,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{11,14}</string>
    <key>spriteSourceSize</key>
    <string>{11,14}</string>
    <key>textureRect</key>
    <string>{{41,52},{11,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{11,14}</string>
    <key>spriteSourceSize</key>
    <string>{11,14}</string>
    <key>textureRect</key>
    <string>{{23,60},{11,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{11,14}</string>
    <key>spriteSourceSize</key>
    <string>{11,14}</string>
    <key>textureRect</key>
    <string>{{54,15},{11,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{11,14}</string>
    <key>spriteSourceSize</key>
    <string>{11,14}</string>
    <key>textureRect</key>
    <string>{{2,63},{11,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{11,14}</string>
    <key>spriteSourceSize</key>
    <string>{11,14}</string>
    <key>textureRect</key>
    <string>{{54,31},{11,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{11,14}</string>
    <key>spriteSourceSize</key>
    <string>{11,14}</string>
    <key>textureRect</key>
    <string>{{41,36},{11,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{11,14}</string>
    <key>spriteSourceSize</key>
    <string>{11,14}</string>
    <key>textureRect</key>
    <string>{{54,31},{11,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/attack.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{19,13}</string>
    <key>spriteSourceSize</key>
    <string>{19,13}</string>
    <key>textureRect</key>
    <string>{{2,36},{19,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{9,13}</string>
    <key>spriteSourceSize</key>
    <string>{9,13}</string>
    <key>textureRect</key>
    <string>{{67,64},{9,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{9,13}</string>
    <key>spriteSourceSize</key>
    <string>{9,13}</string>
    <key>textureRect</key>
    <string>{{92,15},{9,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{9,13}</string>
    <key>spriteSourceSize</key>
    <string>{9,13}</string>
    <key>textureRect</key>
    <string>{{54,76},{9,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{10,13}</string>
    <key>spriteSourceSize</key>
    <string>{10,13}</string>
    <key>textureRect</key>
    <string>{{2,79},{10,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{9,13}</string>
    <key>spriteSourceSize</key>
    <string>{9,13}</string>
    <key>textureRect</key>
    <string>{{79,49},{9,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{9,13}</string>
    <key>spriteSourceSize</key>
    <string>{9,13}</string>
    <key>textureRect</key>
    <string>{{41,83},{9,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{9,13}</string>
    <key>spriteSourceSize</key>
    <string>{9,13}</string>
    <key>textureRect</key>
    <string>{{78,64},{9,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{9,13}</string>
    <key>spriteSourceSize</key>
    <string>{9,13}</string>
    <key>textureRect</key>
    <string>{{41,83},{9,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{9,12}</string>
    <key>spriteSourceSize</key>
    <string>{9,12}</string>
    <key>textureRect</key>
    <string>{{89,78},{9,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{9,12}</string>
    <key>spriteSourceSize</key>
    <string>{9,12}</string>
    <key>textureRect</key>
    <string>{{90,49},{9,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{9,12}</string>
    <key>spriteSourceSize</key>
    <string>{9,12}</string>
    <key>textureRect</key>
    <string>{{67,79},{9,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{11,12}</string>
    <key>spriteSourceSize</key>
    <string>{11,12}</string>
    <key>textureRect</key>
    <string>{{54,47},{11,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{9,12}</string>
    <key>spriteSourceSize</key>
    <string>{9,12}</string>
    <key>textureRect</key>
    <string>{{99,31},{9,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{9,12}</string>
    <key>spriteSourceSize</key>
    <string>{9,12}</string>
    <key>textureRect</key>
    <string>{{89,64},{9,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{9,12}</string>
    <key>spriteSourceSize</key>
    <string>{9,12}</string>
    <key>textureRect</key>
    <string>{{78,79},{9,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{9,12}</string>
    <key>spriteSourceSize</key>
    <string>{9,12}</string>
    <key>textureRect</key>
    <string>{{89,64},{9,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>staticshooter/idle1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{8,16}</string>
    <key>spriteSourceSize</key>
    <string>{8,16}</string>
    <key>textureRect</key>
    <string>{{77,31},{8,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>staticshooter/idle2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{8,16}</string>
    <key>spriteSourceSize</key>
    <string>{8,16}</string>
    <key>textureRect</key>
    <string>{{67,31},{8,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{112,103}</string>
   <key>textureFileName</key>
   <string>characters.png</string>
  </dict>
 </dict>
</plist>
