<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg2_layer_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,960}</string>
                <key>spriteSourceSize</key>
                <string>{1920,960}</string>
                <key>textureRect</key>
                <string>{{2,2},{1920,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg2_layer_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{1280,714}</string>
                <key>spriteSourceSize</key>
                <string>{1280,960}</string>
                <key>textureRect</key>
                <string>{{966,562},{1280,714}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg2_layer_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-202}</string>
                <key>spriteSize</key>
                <string>{1128,556}</string>
                <key>spriteSourceSize</key>
                <string>{1280,960}</string>
                <key>textureRect</key>
                <string>{{966,2},{1128,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg2.png</string>
            <key>size</key>
            <string>{2096,1924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eeb1f6f4f85045abfb3ab513dbe1033:a6f9ae005ec618cd9b1fa862e7e9231a:c74b90dd199a72c057d9440fd463742d$</string>
            <key>textureFileName</key>
            <string>bg2.png</string>
        </dict>
    </dict>
</plist>
