<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>attacker/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,32}</string>
    <key>spriteSourceSize</key>
    <string>{46,32}</string>
    <key>textureRect</key>
    <string>{{283,346},{46,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>attacker/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,32}</string>
    <key>spriteSourceSize</key>
    <string>{46,32}</string>
    <key>textureRect</key>
    <string>{{283,346},{46,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>block/block1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{42,40}</string>
    <key>spriteSourceSize</key>
    <string>{42,40}</string>
    <key>textureRect</key>
    <string>{{79,340},{42,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>block/block2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,55}</string>
    <key>textureRect</key>
    <string>{{134,2},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exit/idle1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,126}</string>
    <key>spriteSourceSize</key>
    <string>{64,126}</string>
    <key>textureRect</key>
    <string>{{2,2},{64,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exit/idle2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,126}</string>
    <key>spriteSourceSize</key>
    <string>{64,126}</string>
    <key>textureRect</key>
    <string>{{68,2},{64,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,38}</string>
    <key>spriteSourceSize</key>
    <string>{64,38}</string>
    <key>textureRect</key>
    <string>{{2,182},{64,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,38}</string>
    <key>spriteSourceSize</key>
    <string>{64,38}</string>
    <key>textureRect</key>
    <string>{{2,182},{64,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,38}</string>
    <key>spriteSourceSize</key>
    <string>{64,38}</string>
    <key>textureRect</key>
    <string>{{137,130},{64,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,38}</string>
    <key>spriteSourceSize</key>
    <string>{64,38}</string>
    <key>textureRect</key>
    <string>{{191,2},{64,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,38}</string>
    <key>spriteSourceSize</key>
    <string>{64,38}</string>
    <key>textureRect</key>
    <string>{{137,130},{64,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,38}</string>
    <key>spriteSourceSize</key>
    <string>{64,38}</string>
    <key>textureRect</key>
    <string>{{191,2},{64,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/attack.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,32}</string>
    <key>spriteSourceSize</key>
    <string>{46,32}</string>
    <key>textureRect</key>
    <string>{{283,346},{46,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,44}</string>
    <key>textureRect</key>
    <string>{{42,325},{32,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,44}</string>
    <key>textureRect</key>
    <string>{{42,325},{32,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/jump.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,44}</string>
    <key>spriteSourceSize</key>
    <string>{56,44}</string>
    <key>textureRect</key>
    <string>{{79,130},{56,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,44}</string>
    <key>textureRect</key>
    <string>{{166,298},{32,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,42}</string>
    <key>spriteSourceSize</key>
    <string>{32,42}</string>
    <key>textureRect</key>
    <string>{{321,299},{32,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,44}</string>
    <key>textureRect</key>
    <string>{{166,298},{32,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,42}</string>
    <key>spriteSourceSize</key>
    <string>{32,42}</string>
    <key>textureRect</key>
    <string>{{321,299},{32,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,50}</string>
    <key>spriteSourceSize</key>
    <string>{39,50}</string>
    <key>textureRect</key>
    <string>{{79,288},{39,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,50}</string>
    <key>spriteSourceSize</key>
    <string>{39,50}</string>
    <key>textureRect</key>
    <string>{{237,186},{39,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,50}</string>
    <key>spriteSourceSize</key>
    <string>{39,50}</string>
    <key>textureRect</key>
    <string>{{160,232},{39,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,50}</string>
    <key>spriteSourceSize</key>
    <string>{56,50}</string>
    <key>textureRect</key>
    <string>{{134,59},{56,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,50}</string>
    <key>spriteSourceSize</key>
    <string>{39,50}</string>
    <key>textureRect</key>
    <string>{{286,59},{39,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,50}</string>
    <key>spriteSourceSize</key>
    <string>{39,50}</string>
    <key>textureRect</key>
    <string>{{299,2},{39,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,50}</string>
    <key>spriteSourceSize</key>
    <string>{39,50}</string>
    <key>textureRect</key>
    <string>{{250,130},{39,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,50}</string>
    <key>spriteSourceSize</key>
    <string>{39,50}</string>
    <key>textureRect</key>
    <string>{{299,2},{39,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{192,59},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{2,222},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{126,176},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{203,130},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{79,176},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{79,232},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{239,59},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{79,232},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/attack.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,50}</string>
    <key>spriteSourceSize</key>
    <string>{75,50}</string>
    <key>textureRect</key>
    <string>{{2,130},{75,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,50}</string>
    <key>spriteSourceSize</key>
    <string>{38,50}</string>
    <key>textureRect</key>
    <string>{{203,252},{38,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,50}</string>
    <key>spriteSourceSize</key>
    <string>{38,50}</string>
    <key>textureRect</key>
    <string>{{291,130},{38,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,50}</string>
    <key>spriteSourceSize</key>
    <string>{38,50}</string>
    <key>textureRect</key>
    <string>{{126,298},{38,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,50}</string>
    <key>spriteSourceSize</key>
    <string>{40,50}</string>
    <key>textureRect</key>
    <string>{{257,2},{40,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,50}</string>
    <key>spriteSourceSize</key>
    <string>{38,50}</string>
    <key>textureRect</key>
    <string>{{2,325},{38,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,50}</string>
    <key>spriteSourceSize</key>
    <string>{38,50}</string>
    <key>textureRect</key>
    <string>{{278,186},{38,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,50}</string>
    <key>spriteSourceSize</key>
    <string>{38,50}</string>
    <key>textureRect</key>
    <string>{{243,252},{38,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,50}</string>
    <key>spriteSourceSize</key>
    <string>{38,50}</string>
    <key>textureRect</key>
    <string>{{278,186},{38,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,45}</string>
    <key>spriteSourceSize</key>
    <string>{36,45}</string>
    <key>textureRect</key>
    <string>{{321,252},{36,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,45}</string>
    <key>spriteSourceSize</key>
    <string>{36,45}</string>
    <key>textureRect</key>
    <string>{{242,304},{36,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,45}</string>
    <key>spriteSourceSize</key>
    <string>{36,45}</string>
    <key>textureRect</key>
    <string>{{283,252},{36,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,45}</string>
    <key>spriteSourceSize</key>
    <string>{44,45}</string>
    <key>textureRect</key>
    <string>{{2,278},{44,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,45}</string>
    <key>spriteSourceSize</key>
    <string>{36,45}</string>
    <key>textureRect</key>
    <string>{{283,299},{36,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{37,45}</string>
    <key>spriteSourceSize</key>
    <string>{37,45}</string>
    <key>textureRect</key>
    <string>{{318,186},{37,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{37,45}</string>
    <key>spriteSourceSize</key>
    <string>{37,45}</string>
    <key>textureRect</key>
    <string>{{203,304},{37,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{37,45}</string>
    <key>spriteSourceSize</key>
    <string>{37,45}</string>
    <key>textureRect</key>
    <string>{{318,186},{37,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>staticshooter/idle1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,64}</string>
    <key>spriteSourceSize</key>
    <string>{32,64}</string>
    <key>textureRect</key>
    <string>{{126,232},{32,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>staticshooter/idle2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,64}</string>
    <key>spriteSourceSize</key>
    <string>{32,64}</string>
    <key>textureRect</key>
    <string>{{203,186},{32,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{361,384}</string>
   <key>textureFileName</key>
   <string>characters.png</string>
  </dict>
 </dict>
</plist>
