<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>attacker/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,32}</string>
    <key>spriteSourceSize</key>
    <string>{46,32}</string>
    <key>textureRect</key>
    <string>{{258,2},{46,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>attacker/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,32}</string>
    <key>spriteSourceSize</key>
    <string>{46,32}</string>
    <key>textureRect</key>
    <string>{{258,2},{46,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>block/block1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{42,40}</string>
    <key>spriteSourceSize</key>
    <string>{42,40}</string>
    <key>textureRect</key>
    <string>{{2,335},{42,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>block/block2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,55}</string>
    <key>spriteSourceSize</key>
    <string>{55,55}</string>
    <key>textureRect</key>
    <string>{{2,130},{55,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exit/idle1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,126}</string>
    <key>spriteSourceSize</key>
    <string>{64,126}</string>
    <key>textureRect</key>
    <string>{{2,2},{64,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>exit/idle2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,126}</string>
    <key>spriteSourceSize</key>
    <string>{64,126}</string>
    <key>textureRect</key>
    <string>{{68,2},{64,126}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,38}</string>
    <key>spriteSourceSize</key>
    <string>{64,38}</string>
    <key>textureRect</key>
    <string>{{134,100},{64,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,38}</string>
    <key>spriteSourceSize</key>
    <string>{64,38}</string>
    <key>textureRect</key>
    <string>{{134,100},{64,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,38}</string>
    <key>spriteSourceSize</key>
    <string>{64,38}</string>
    <key>textureRect</key>
    <string>{{2,187},{64,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,38}</string>
    <key>spriteSourceSize</key>
    <string>{64,38}</string>
    <key>textureRect</key>
    <string>{{192,2},{64,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,38}</string>
    <key>spriteSourceSize</key>
    <string>{64,38}</string>
    <key>textureRect</key>
    <string>{{2,187},{64,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>flyer/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,38}</string>
    <key>spriteSourceSize</key>
    <string>{64,38}</string>
    <key>textureRect</key>
    <string>{{192,2},{64,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/attack.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,32}</string>
    <key>spriteSourceSize</key>
    <string>{46,32}</string>
    <key>textureRect</key>
    <string>{{258,2},{46,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,44}</string>
    <key>textureRect</key>
    <string>{{320,156},{32,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,44}</string>
    <key>textureRect</key>
    <string>{{320,156},{32,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/jump.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,44}</string>
    <key>spriteSourceSize</key>
    <string>{56,44}</string>
    <key>textureRect</key>
    <string>{{134,54},{56,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,44}</string>
    <key>textureRect</key>
    <string>{{321,222},{32,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,42}</string>
    <key>spriteSourceSize</key>
    <string>{32,42}</string>
    <key>textureRect</key>
    <string>{{316,321},{32,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,44}</string>
    <key>spriteSourceSize</key>
    <string>{32,44}</string>
    <key>textureRect</key>
    <string>{{321,222},{32,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>jumper/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,42}</string>
    <key>spriteSourceSize</key>
    <string>{32,42}</string>
    <key>textureRect</key>
    <string>{{316,321},{32,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,50}</string>
    <key>spriteSourceSize</key>
    <string>{39,50}</string>
    <key>textureRect</key>
    <string>{{2,283},{39,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,50}</string>
    <key>spriteSourceSize</key>
    <string>{39,50}</string>
    <key>textureRect</key>
    <string>{{200,222},{39,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,50}</string>
    <key>spriteSourceSize</key>
    <string>{39,50}</string>
    <key>textureRect</key>
    <string>{{289,100},{39,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,50}</string>
    <key>spriteSourceSize</key>
    <string>{56,50}</string>
    <key>textureRect</key>
    <string>{{134,2},{56,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,50}</string>
    <key>spriteSourceSize</key>
    <string>{39,50}</string>
    <key>textureRect</key>
    <string>{{68,309},{39,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,50}</string>
    <key>spriteSourceSize</key>
    <string>{39,50}</string>
    <key>textureRect</key>
    <string>{{134,252},{39,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,50}</string>
    <key>spriteSourceSize</key>
    <string>{39,50}</string>
    <key>textureRect</key>
    <string>{{286,42},{39,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player1/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{39,50}</string>
    <key>spriteSourceSize</key>
    <string>{39,50}</string>
    <key>textureRect</key>
    <string>{{134,252},{39,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{68,187},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{192,42},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{134,140},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{200,100},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{134,196},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{239,42},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{2,227},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player2/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,54}</string>
    <key>spriteSourceSize</key>
    <string>{45,54}</string>
    <key>textureRect</key>
    <string>{{239,42},{45,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/attack.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{51,50}</string>
    <key>spriteSourceSize</key>
    <string>{51,50}</string>
    <key>textureRect</key>
    <string>{{59,130},{51,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,50}</string>
    <key>spriteSourceSize</key>
    <string>{38,50}</string>
    <key>textureRect</key>
    <string>{{241,222},{38,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,50}</string>
    <key>spriteSourceSize</key>
    <string>{38,50}</string>
    <key>textureRect</key>
    <string>{{280,156},{38,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,50}</string>
    <key>spriteSourceSize</key>
    <string>{38,50}</string>
    <key>textureRect</key>
    <string>{{109,309},{38,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,50}</string>
    <key>spriteSourceSize</key>
    <string>{40,50}</string>
    <key>textureRect</key>
    <string>{{247,100},{40,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,50}</string>
    <key>spriteSourceSize</key>
    <string>{38,50}</string>
    <key>textureRect</key>
    <string>{{200,274},{38,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,50}</string>
    <key>spriteSourceSize</key>
    <string>{38,50}</string>
    <key>textureRect</key>
    <string>{{149,309},{38,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,50}</string>
    <key>spriteSourceSize</key>
    <string>{38,50}</string>
    <key>textureRect</key>
    <string>{{281,222},{38,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player3/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,50}</string>
    <key>spriteSourceSize</key>
    <string>{38,50}</string>
    <key>textureRect</key>
    <string>{{149,309},{38,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/idle-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,45}</string>
    <key>spriteSourceSize</key>
    <string>{36,45}</string>
    <key>textureRect</key>
    <string>{{317,274},{36,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/idle-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,45}</string>
    <key>spriteSourceSize</key>
    <string>{36,45}</string>
    <key>textureRect</key>
    <string>{{240,321},{36,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/jump-down.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,45}</string>
    <key>spriteSourceSize</key>
    <string>{36,45}</string>
    <key>textureRect</key>
    <string>{{279,274},{36,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/jump-up.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,45}</string>
    <key>spriteSourceSize</key>
    <string>{44,45}</string>
    <key>textureRect</key>
    <string>{{234,156},{44,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/walk-1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{36,45}</string>
    <key>spriteSourceSize</key>
    <string>{36,45}</string>
    <key>textureRect</key>
    <string>{{278,321},{36,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/walk-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{37,45}</string>
    <key>spriteSourceSize</key>
    <string>{37,45}</string>
    <key>textureRect</key>
    <string>{{200,326},{37,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/walk-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{37,45}</string>
    <key>spriteSourceSize</key>
    <string>{37,45}</string>
    <key>textureRect</key>
    <string>{{240,274},{37,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player4/walk-4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{37,45}</string>
    <key>spriteSourceSize</key>
    <string>{37,45}</string>
    <key>textureRect</key>
    <string>{{200,326},{37,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>staticshooter/idle1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,64}</string>
    <key>spriteSourceSize</key>
    <string>{32,64}</string>
    <key>textureRect</key>
    <string>{{68,243},{32,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>staticshooter/idle2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,64}</string>
    <key>spriteSourceSize</key>
    <string>{32,64}</string>
    <key>textureRect</key>
    <string>{{200,156},{32,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{357,379}</string>
   <key>textureFileName</key>
   <string>characters.png</string>
  </dict>
 </dict>
</plist>
