<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ctrl_arrowDown.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{844,808},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_arrowLeft.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{330,908},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_arrowRight.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{200,778},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_arrowUp.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{714,808},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_cart.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{584,678},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_effectsoff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{714,938},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_effectson.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{782,390},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_facebook.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{330,778},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_more.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{200,908},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_musicoff.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{714,678},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_musicon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{714,548},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_pause1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{2,925},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_play1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{584,938},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_settings.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{584,548},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_shoot.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{844,678},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_switch.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{584,808},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ctrl_twit.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{844,548},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_cloud1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,22}</string>
    <key>spriteSourceSize</key>
    <string>{64,22}</string>
    <key>textureRect</key>
    <string>{{778,361},{64,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_coin.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,30}</string>
    <key>spriteSourceSize</key>
    <string>{32,30}</string>
    <key>textureRect</key>
    <string>{{132,925},{32,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,2}</string>
    <key>spriteSize</key>
    <string>{172,134}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{778,159},{172,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,12}</string>
    <key>spriteSize</key>
    <string>{166,155}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{778,2},{166,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-13}</string>
    <key>spriteSize</key>
    <string>{196,156}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{584,390},{196,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_crashcloud4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-18}</string>
    <key>spriteSize</key>
    <string>{196,145}</string>
    <key>spriteSourceSize</key>
    <string>{200,200}</string>
    <key>textureRect</key>
    <string>{{2,778},{196,145}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_dollarbag.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{844,295},{50,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_heart.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,35}</string>
    <key>spriteSourceSize</key>
    <string>{34,35}</string>
    <key>textureRect</key>
    <string>{{502,778},{34,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_hit.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{778,295},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_missile.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,28}</string>
    <key>spriteSourceSize</key>
    <string>{28,28}</string>
    <key>textureRect</key>
    <string>{{166,925},{28,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ig_missile2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{40,41}</string>
    <key>spriteSourceSize</key>
    <string>{40,41}</string>
    <key>textureRect</key>
    <string>{{460,778},{40,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{196,196},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{390,584},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{584,196},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{2,196},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{196,2},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{390,196},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{390,390},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{390,2},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{196,390},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shop_lock.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{196,584},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>star.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{126,128}</string>
    <key>spriteSourceSize</key>
    <string>{128,128}</string>
    <key>textureRect</key>
    <string>{{844,938},{126,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{2,584},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{2,390},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{584,2},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>world_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,192}</string>
    <key>spriteSourceSize</key>
    <string>{192,192}</string>
    <key>textureRect</key>
    <string>{{2,2},{192,192}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{976,1070}</string>
   <key>textureFileName</key>
   <string>sprite.png</string>
  </dict>
 </dict>
</plist>
